<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>AmpCarSoft</title>
<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" href="static/css/index2.css"
	th:href="@{/css/index2.css}">
<link rel="stylesheet" type="text/css" href="static/css/index.css"
	th:href="@{/css/index.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	<nav>

		<a th:href="@{/mostrarEmpresas}">Empresas</a> <a th:href="@{/wcoches}">Coches</a>
		<a th:href="@{/cliente}">Clientes</a> <a
			th:href="@{/mostrarTrabajadores}">Trabajadores</a> <a
			th:href="@{/wreparaciones}">Reparaciones</a> <a
			th:href="@{/winformes}">Informes</a>

	</nav>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="p-5">
	
	<h1>El recurso no existe!</h1>
	<h2>Nuestros ingenieros están trabajando en ello... ten paciencia</h2>
	<a href="/menu">Volver</a>
	</div>
</body>
</html>